<h1> Welcome to Chitter ! </h1>

<h3> <%= flash[:notice] %> </h3>

<% if @user %>
  <h2>Welcome, <%= @user.username %></h2>
<% end %>

<br>
<h2>
  <a href="/users/new">Sign up to Chitter here</a> <br>
  <a href="/sessions/new">Already have an account ? Login here</a> <br>
</h2>
