<html>
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <img src="/images/logo.png" alt="logo" class="logo">
        <nav>
          <ul>
            <li><a href="/">Home</a></li> 
            <li><a href="/posts">Posts</a></li> 
            <% if !@user %>
              <li><a href="/sessions/new">Login</a></li> 
              <li><a href="/users/new">Sign Up</a></li>  
            <% else %>
              <li><a href="/posts/new">New Post</a></li> 
            <% end %> 
          </ul>
        </nav>

      </div>
    </header>
    <div class="notice"> <%= flash[:notice] %> </div>
    <%= yield %>
  </body>
  <% if @user %>
    <div class="forms">
      <ul>
        <li>Logged in as - <%= @user.username %></li>
        <form action="/sessions/destroy" method="post" class="center">
          <li><input type="submit" value="Sign out" class="button"/></li>
        </form>
      </ul>
    </div>
  <% end %>
</html>


