<h1> Sign up Page </h1> 
<br>

<form action="/users" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>

<h2>
  <a href="/">Home</a>
</h2>
