* {
  background-color: rgb(143, 232, 230);
}

ul {
  list-style-type: none;
  margin: 5;
  padding: 0;
}

li {
  background-color: rgb(212, 235, 235);
  font-size: 150%;
  margin: auto;
  text-align: center;
  width: 30%;
  padding: 10px;
  outline-style: solid;
}

.navigation {
  font-size: 200%;
  margin: auto;
  text-align: center;
  width: 100%;
}

.header {
  font-size: 100%;
  margin: auto;
  text-align: center;
  width: 20%;
}

.home {
  font-size: 150%;
  margin: auto;
  outline-style: solid;
  text-align: center;
  width: 20%;
  padding: 5px;
  background-color: rgb(212, 235, 235);
}

.forms {
  font-size: 200%;
  margin: auto;
  text-align: center;
  width: 25%;
  padding: 5px;
  outline-style: solid;
  background-color: rgb(212, 235, 235);
}

h2, .notice {
  font-size: 200%;
  margin: auto;
  text-align: center;
  width: 30%;
  padding: 5px;
}

.text-box {
  margin-top: 25px;
  padding: 5px;
  font-size: 75%;
  background-color: rgb(212, 235, 235);
}

.button {
  margin-top: 25px;
  font-size: 100%;
  background-color: rgb(212, 235, 235);
}

h3, .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


