* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-image {
  background-image: url(../images/background_image.png);
  padding: 20em;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 40% 20%;
  padding-bottom: 500;
  padding-top: 500;
}

body {
  background-color: rgb(50, 255, 238);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: rgb(52, 59, 255);
  border-style: double;
  border-radius: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  background-color:rgb(52, 59, 255);
  float: left;
  width: 125px;
  height: auto;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color:rgb(52, 59, 255);
}

nav li {
  background-color:rgb(52, 59, 255);
  display: inline-block;
  margin-left: 25px;
  padding-top: 22px;

  position: relative;
  font-family: monospace;
}

nav a {
  background-color:rgb(52, 59, 255);
  color:rgb(255, 255, 255);
  text-decoration: solid;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: rgb(0, 24, 120);
  opacity: 0.7;
}

nav a:hover::before {
  width: 100%;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: rgb(0, 24, 120);
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

.peeps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.peeps li {
  margin-top: 12px;
  text-align: center;
  font-size: 150%;
  border-style: solid;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(202, 250, 254);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.peeps p {
  margin-top: 12px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 90%;
}

.forms {
  border-style: solid;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(255, 0, 247);
  border-radius: 10px;
}

.forms ul {
 list-style: none;
 background-color: rgb(255, 0, 247);
}

.forms li {
  padding-top: 15px;
  text-align: center;
  background-color: rgb(255, 0, 247);
}

.text-box {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  background-color: azure;
  padding-left: 5;
}

.button {
  border-radius: 20px;
  font-size: 100%;
}

.notice {
  text-align: center;
  font-size: 200%; 
}

 
