.navigation {
  font-size: 200%;
  margin: auto;
  text-align: center;
  width: 20%;
  padding: 10px;
}

.header {
  font-size: 100%;
  margin: auto;
  text-align: center;
  width: 20%;
}

.home {
  font-size: 200%;
  margin: auto;
  text-align: center;
  width: 20%;
  padding: 5px;
}

.posts {
  font-size: 100%;
  margin: auto;
  text-align: center;
  width: 30%;
  padding: 2px;
}

.forms {
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 2px;
}