
<div class="forms">
  <ul>
    <form action="/sessions" method="post">
      <li><input type="email" name="email" placeholder="email address" class="text-box"/></li>
      <li><input type="password" name="password" placeholder="password here" class="text-box"/></li> 
      <li><input type="submit" value="Sign in" class="button"/></li>
    </form>
  <ul>
</div>


