<h1> Login to Chitter to post a peep ! </h1>
+ <h2>
+   <%= flash[:notice] %>
+ </h2>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email address"/> <br><br>
  <input type="password" name="password" placeholder="password here"/> <br><br>
  <input type="submit" value="Sign in" /> <br><br>
</form>

<h2>
  <a href="/">Home</a> <br>
</h2>
