<h2> Login here </h2>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email address"/> <br><br>
  <input type="password" name="password" placeholder="password here"/> <br><br>
  <input type="submit" value="Sign in" /> <br><br>
</form>

