
  <p class="notice"> Login here </p>

  <form action="/sessions" method="post" class="forms">
    <input type="email" name="email" placeholder="email address" class="text-box"/> <br>
    <input type="password" name="password" placeholder="password here" class="text-box"/> <br> 
    <input type="submit" value="Sign in" class="button"/> <br>
  </form>
</div>

