<h1> Login </h1>

<form action="/sessions" method="post">
  <input type="email" name="email" placeholder="email address" class="text-box"/> <br>
  <input type="password" name="password" placeholder="password here"/> <br> 
  <input type="submit" value="Sign in"/> <br>
</form>


