  <p class="notice"> Sign up below </p>

  <form action="/users" method="post" class="forms">
    <input type="email" name="email" placeholder="example@email.com" class="text-box"/> <br>
    <input type="username" name="username" placeholder="username" class="text-box"/> <br>
    <input type="password" name="password" placeholder="password123"class="text-box"/> <br>
    <input type="submit" value="Create Account" class ="button"/>
  </form>

