
<div class="forms">
  <ul>
    <form action="/users" method="post">
      <li><input type="email" name="email" placeholder="example@email.com" class="text-box"/></li>
      <li><input type="username" name="username" placeholder="username" class="text-box"/></li>
      <li><input type="password" name="password" placeholder="password123"class="text-box"/></li>
      <li><input type="submit" value="Create Account" class ="button"/></li>
    </form>
  </ul>
</div>

