<div class="forms">
  <ul>
    <form action="/posts" method="post">
      <li><input type="text" name="peep" class="text-box"/></li>
      <li><input type="submit" value="Create Post" class="button"/></li>
    </form>
  <ul>
</div>
