<h2> Create a new post here </h2>

<form action="/posts" method="post" class="forms">
  <input type="text" name="peep" class="new-post"/> <br><br>
  <input type="submit" value="Submit" class="new-post"/>
</form>
<br>

