<p class="notice"> Create a new post here </p>

<form action="/posts" method="post" class="forms">
  <input type="text" name="peep" class="text-box"/> <br><br>
  <input type="submit" value="Create Post" class="button"/>
</form>

