<h3> <%= flash[:notice] %> </h3>

<a href="/posts/new">Create a new post</a> 
<ul>
  <% @posts.reverse.each do |post| %>
    <li><%= post.peep %></li>
    <li>Posted @ <%= post.time_stamp %></li>
  <br>
  <% end %>
</ul>

<a href="/">home</a>


