<div class="peeps">
  <ul>
    <% @posts.reverse.each do |post| %>
      <li><%= post.peep %> </li>
      <p><%=post.username%> @ <%= post.time_stamp %></p>
      <% if @user %>
        <% if post.user_id == @user.id %>
          <form action="/posts/destroy" method="post">
            <button type="submit">Delete</button>
          </form>
        <% end %>
      <% end %>
    <% end %>
  </ul> 
</div>



